#crm-container #crm-contribution-campaign-form-block-pcp-team {
  width: 100%;
}

#crm-container #civicrm-pcpteams-pcpinfo-team-actions {
  overflow: auto;
  padding-top: 1em;
  padding-bottom: 1em;
}
#crm-container .thermometer-fill {
  max-height: 100%;
}
#crm-container .honor_roll {
  overflow-y: hidden;
}
#crm-container marquee#pcp_roll {
  height: 100%;
}
